<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 9</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="text-bg center">
                <p>Furina</p>
            </div>
            <div class="character-layer">
                <div class="bg">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <div class="h1"></div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-bg center">
                <p>Navia</p>
            </div>
            <div class="character-layer">
                <div class="bg">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <div class="h1"></div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-bg center">
                <p>Raiden</p>
            </div>
            <div class="character-layer">
                <div class="bg">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <div class="h1"></div>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-bg center">
                <p>Arlecchino</p>
            </div>
            <div class="character-layer">
                <div class="bg">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <div class="h1"></div>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>