<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 9</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="text-bg center">
                <p>Furina</p>
            </div>
            <div class="character-layer">
                <div class="bg" id="furina">
                    <img src="/assets/images/furina.png" alt="furina" class="character">
                </div>
                <div class="text bg">
                    <div class="h1">Furina</div>
                    <p>Why are you just standing there with your mouth gaping? Ah, you must be stunned and at a loss for words... Understandable, it is I after all... Fontaine's most beloved star, Furina. I'm on a very tight schedule, so you're lucky to even get an appointment with me.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-bg center">
                <p>Navia</p>
            </div>
            <div class="character-layer">
                <div class="bg" id="navia">
                    <img src="/assets/images/navia.png" alt="navia" class="character">
                </div>
                <div class="text bg">
                    <div class="h1">Navia</div>
                    <p>Nice to meet you! I am Navia, the esteemed president, leader, commander-in-chief, executive director, and Boss of Spina di Rosula. You strike me as somebody special — a person of character. Something tells me that this is the beginning of a long partnership between us... perhaps even as long as all the titles in front of my name.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-bg center">
                <p>Raiden</p>
            </div>
            <div class="character-layer">
                <div class="bg" id="raiden">
                    <img src="/assets/images/raiden.png" alt="raiden" class="character">
                </div>
                <div class="text bg">
                    <div class="h1">Raiden</div>
                    <p>No salutations needed. My exalted status shall not be disclosed as we travel among the common folk. I acknowledge that you are a person of superior ability. Henceforth, you will be my guard. Worry not. Should any danger arise, I shall dispose of it.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-bg center">
                <p>Arlecchino</p>
            </div>
            <div class="character-layer">
                <div class="bg" id="arlecchino">
                    <img src="/assets/images/arlecchino.png" alt="arlecchino" class="character">
                </div>
                <div class="text bg">
                    <div class="h1">Arlecchino</div>
                    <p>I am The Knave, Arlecchino, Fourth of the Fatui Harbingers. The children of the House of the Hearth call me "Father." I do hope our partnership proves to be a pleasant one, although I would imagine that should be fairly easy. After all, there's no cause for contention between us at the moment... wouldn't you agree?</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>